* {
	color: #333843;
	font-family: 'Verdana', 'Geneva', sans-serif;
	font-size: 16px;
}
body {
	position: relative;
}

/* Header */
.jumbotron {
	background-image: 
	url(../img/muc_small.jpg);
	background-position: 65% 40%;
	background-size: cover;
	display: flex;
	height: 55vh;
	margin-bottom: 0;
	min-height: 200px;
}
.jumbotron > div {
	width: 100%;
	display: flex;
	margin: auto;
}
.jumbotron h1 {
	font-size: 1.8em;
}
.navbar {
	background-color: transparent;
	transition-duration: 1s;
}
#navbar-collapse * {
	color: #333843;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: inherit;
  color: #b08562 !important;
}
/* End header */

/* Main */
h2 {
	text-align: center;
}	
main > div:nth-child(even) {
	background-color: #d9e6f9; /* lightblue */
}
main > div:nth-child(odd) {
	background-color: #f6f6f6; /* white */
}
main p {
	margin-top: 35px;
	line-height: 170%;
}
main article {
	margin-bottom: 7em;
	margin-top: 7em;
}
main li {
	line-height: 170%;
}
#pic {
	align-items: center;
	display: flex;
}
#pic div {
	padding: 0;
}
/* End Main */

/* Footer */
footer {
	background-color: #333843;
	text-align: center;
}
footer img {
	padding-right: 10px;
}
footer p {
	color: #f6f6f6;
	font-size: 14px; 
	margin: 0;
	padding: 20px;
}
/* End footer */
@keyframes fade {
  0% { 
  		opacity: 0;
  }
  100% {
  	opacity: 1;
  }
}
.toFade {
	animation-name: fade;
	animation-duration: 3s;
}
@media (max-width: 767px) {
	main article {
		margin-bottom: 3em;
		margin-top: 3em;
	}
	.jumbotron {
		min-height: 30vh;
	}
}




